/* TIENDA */
.header-tienda{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    h1{
        font-weight: bold;
        font-size: 2.5rem;
    }
    img{
        width: 80px;
    }
    .container-carrito{
        position: relative;
        .btn-carrito{
            font-size: 30px;
            color: $colorNegro;
            cursor: pointer;
            &:hover{
                text-shadow: 0 0 10px $colorNaranja,
                             0 0 20px $colorNaranja,
                             0 0 40px $colorNaranja,
                             0 0 60px $colorNaranja;
                transition: all .5s;
            }
        }
        .contador-productos{
            position: absolute;
            top: 60%;
            left: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: red;
            font-size: 10px;
            font-weight: bold;
            color: white;
            width: 15px;
            height: 15px;
            border: solid .2px rgb(20, 20, 20);
            border-radius: 50%;
        }
        .cuerpo-carrito{
            position: absolute;
            width: 500px;
            height: 100vh;
            position:fixed;
            top: 0px;
            right: 0;
            background-color: $colorNaranja;
            border: solid 3px rgb(20, 20, 20);
            border-radius: 10px;
            box-shadow: 0 10px 20px 5px rgba($colorNegro, 0.30);
            z-index: 1;
            .header-carrito{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 5px;
                padding: 10px;
                border-bottom: solid 3px rgb(20, 20, 20);
                i{
                    font-size: xx-large;
                    color: $colorNegro;
                    cursor: pointer;
                }
            }
            .contenedor-productos{
                height: 80vh;
                overflow: auto;
                &::-webkit-scrollbar{
                    display: none;
                }
                .producto-carrito{
                    display: flex;
                    height: 120px;
                    margin: 10px;
                    padding: 10px;
                    justify-content: space-around;
                    align-items: center;
                    border: solid 3px rgb(20, 20, 20);
                    background-color: white;
                    div{
                        width: 200px;
                        h3{
                            font-size: medium;
                        }
                        p{
                            color: $colorNaranja;
                            padding: 10px;
                            font-size: medium;
                            font-weight: bold;
                        }
                    }
                    i{
                        font-size: x-large;
                        cursor: pointer;
                        &:hover{
                            color: red;
                            transition: all .5s;
                        }
                    }

                }
            }    
            .total-carrito{
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin: 5px;
                padding: 10px;
                border-top: solid 3px rgb(20, 20, 20);
                button{
                    width: 170px;
                    height: 28px;
                    cursor: pointer;
                    color: $colorNegro;
                    background-color: white;
                    border: solid 2px rgb(20, 20, 20);
                    transition: all .5s;
                    &:hover{
                        color: white;
                        background-color: $colorNegro;
                    }
                }
            }
        }
        .cuerpo-carrito-oculto{
            display: none;
        }    
    }
}

.container-items{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    .item{
        width: 250px;
        height: 480px;
        margin: 8px;
        border: solid 3px;
        border-color: $colorNegro;
        border-radius: 10px;
        overflow: hidden;
        text-align: center;
        &:hover{
            box-shadow: 0 10px 20px 5px rgba($colorNegro, 0.30);
            transition: all .5s;
        }
        img{
            width: 100%;
            height: 300px;
            border-radius: 10px 10px 0 0;
            object-fit: cover;
            transition: all .5s;
            &:hover{
                transform: scale(1.05);
            }
        }
        h3{
            padding: 10px;
            font-weight: lighter;
            border-top: solid 3px;
        }
        p{
            color: $colorNaranja;
            padding: 10px;
            font-size: x-large;
            font-weight: bold;
        }
        .footer-item{
            display: flex;
            justify-content: space-around;
            padding: 10px;
            i{
                font-size: 30px;
                color: $colorNegro;
                cursor: pointer;
                &:hover{
                    text-shadow: 0 0 10px $colorNaranja,
                                 0 0 20px $colorNaranja,
                                 0 0 40px $colorNaranja,
                                 0 0 60px $colorNaranja;
                    transition: all .5s;
                }
            }
        }
    }
}

.container-detalle{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba($colorNegro, 0.50);
    .detalle-producto{
        width: 60%;
        height: 70%;
        background-color: white;
        border: solid 3px;
        border-color: $colorNegro;
        border-radius: 10px;
        text-align: center;
        overflow: auto;
        &::-webkit-scrollbar{
            display: none;
        }
        .header-detalle{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 10px;
            img{
                width: 80px;
                height: 60px;
            }
            h3{
                margin-right: 30px;
            }
            i{
                font-size: xx-large;
                color: $colorNegro;
                cursor: pointer;
            }
        }
        p{
            margin: 20px;
            padding: 10px;
            background-color: rgba(236, 236, 236, 0.5);
            border: solid 2px;
            border-color: $colorNegro;
            border-radius: 10px;
            font-size: large;
            line-height: 25px;
            word-spacing: 1px;
            letter-spacing: 0.2px;
        }
    }

}
.container-detalle-oculto{
    display: none;
}

.seccion-compra{
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba($colorNegro, 0.50);
    z-index: 3;
    .conteiner-compra{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 100%;
        align-items: center;
        background-color: $colorNaranja;
        border: solid 3px;
        border-color: $colorNegro;
        border-radius: 10px;
        .header-compra{
            display: flex;
            align-items: center;
            img{
                margin: 10px;
                width: 50px;
                height: 40px;
                border: solid 2px;
                border-color: $colorNegro;
                border-radius: 10px;
            }
            h2{
                padding: 10px;
            }
            i{
                padding: 10px;
                font-size: x-large;
                color: $colorNegro;
                cursor: pointer;
            }
        }
        .productos-compra{
            background-color: white;
            border: solid 2px;
            border-color: $colorNegro;
            overflow: auto;
            &::-webkit-scrollbar{
                display: none;
            }
            .producto-compra{
                padding: 5px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                p{
                    margin: 20px;
                }
                img{
                    margin: 10px;
                    width: 80px;
                    height: 80px;
                }
                div{
                    width: 300px;
                    h3{
                        font-size: medium;
                    }
                    p{
                        color: $colorNaranja;
                        font-size: medium;
                        font-weight: bold;
                    }
                }
            }
        }
        .total-compra{
            padding: 5px;
            font-size: x-large;
            font-weight: bold;
        }
        .datos-compra{
            display: flex;
            flex-direction: column;
            align-items: center;
            border-top: solid 2px;
            border-color: $colorNegro;
            h2{
                padding: 5px;
            }
            #form-compra{
                background-color: white;
                border: solid 2px;
                border-color: $colorNegro;
                padding: 10px;
                div{
                    margin: 8px;
                }
            }
            #confirmarCompra{
                margin: 10px;
                width: 170px;
                height: 28px;
                cursor: pointer;
                color: $colorNegro;
                background-color: white;
                border: solid 2px rgb(20, 20, 20);
                transition: all .5s;
                &:hover{
                    color: white;
                    background-color: $colorNegro;
                }
            }
        }
    }
}